@import "tailwindcss";

@theme {
    --breakpoint-xs: 375px;
    --breakpoint-lg: 1100px;
}


/* Here Home Section */

#hero {
    @apply relative text-white w-full sm:h-dvh overflow-hidden;
    background-image: url(@/assets//images/forHome/hero.webp);
    background-size: cover;
    background-position: center;
}

#hero section {
    @apply relative flex flex-col my-28 mx-5 sm:mx-10 lg:mx-20 xl:mx-48 max-w-[900px] z-40;
}

#hero section>h1 {
    @apply text-[#ff9245] text-left text-4xl sm:text-5xl md:text-6xl lg:text-[80px] font-bold lg:leading-[89.25px];
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero section>h1>span:nth-child(2) {
    @apply text-[#67c8df];
}

#hero section>h2 {
    @apply text-2xl md:text-4xl lg:text-6xl mt-7 sm:mt-5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hero section>h2 span {
    @apply block max-w-fit
}

#hero section>h2 img {
    @apply max-md:w-[45%]
}

#hero section>h3 {
    @apply sm:text-lg md:text-xl lg:text-3xl mt-7 sm:mt-3.5 max-w-[735px] mr-auto md:leading-10;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* About Section */

#about {
    @apply flex flex-col lg:flex-row justify-center items-center lg:items-start xl:gap-16 mx-5 sm:mx-10 my-10 sm:my-20 lg:m-20 text-[#2B2C2E]
}

#about h2 {
    @apply text-3xl sm:text-4xl lg:text-5xl font-medium
}

#about>div {
    @apply flex flex-col gap-5 sm:gap-8 max-w-[572px]
}

#about ul {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-5 font-semibold sm:font-bold;
}

#about li {
    @apply flex gap-2 xs:px-1
}

#about li>svg {
    @apply text-[#FF9245] shrink-0
}

/* Process Section */

#process {
    @apply relative bg-[#F1F1F1] text-[#2B2C2E] text-center px-5 py-12 z-10 md:py-24
}

#process>p {
    @apply relative text-[#FF9245] font-medium w-fit pt-7 mb-2 mx-auto
}

#process>p>svg {
    @apply absolute max-w-20 lg:max-w-[154px] max-h-[123px] max-lg:left-10 -top-4 -z-20 text-[#fff]
}

#process>h2 {
    @apply relative text-3xl xs:text-4xl lg:text-[56px] z-40
}

#process>div {
    @apply flex flex-col md:flex-row justify-center items-center md:items-start my-12;
}

#process>div>span {
    @apply flex flex-col justify-center items-center gap-4 max-w-64
}

#process>div>span h3 {
    @apply text-xl xs:text-2xl md:text-2xl lg:text-3xl font-medium
}

#process>div>div {
    /* Line Divider */
    @apply w-[1.218px] h-12 md:w-full md:h-[1.218px] bg-[#2b2c2eb9] md:mx-7 my-5 md:mt-16 max-w-32;
}


/* Toolkit Section */

#toolkit {
    @apply flex max-lg:flex-col justify-center items-center gap-16 mx-5 my-10 sm:m-20 text-[#2B2C2E]
}

#toolkit>section {
    @apply flex flex-col text-left lg:max-w-[520px]
}

#toolkit>section>p:nth-child(1) {
    @apply relative text-[#FF9245] font-medium w-fit pt-7 mb-2 z-20
}

#toolkit>section>p>svg {
    @apply absolute max-w-[114px] max-h-[83px] -left-4 top-0 -z-10 text-[#0000000D]
}

#toolkit>section>h2 {
    @apply relative max-w-[440px] mb-5 text-4xl sm:text-5xl lg:text-[56px] z-40
}

#toolkit>section>h2 span {
    @apply block max-w-fit
}

#toolkit>section>h2 img {
    @apply w-[50%]
}

#toolkit>section>form {
    @apply flex max-sm:flex-col justify-between gap-5 my-6;
}

#toolkit>section>form>div {
    @apply flex w-full h-[52px] rounded-full bg-[#F1F1F1];
}

#toolkit>section>form input {
    @apply w-full sm:max-w-[200px] h-[52px] px-4 rounded-full bg-[#F1F1F1] outline-none;
}

#toolkit>section>form button {
    @apply bg-[#469BAF] hover:bg-[#469cafc9] w-[120px] h-full rounded-full px-3 text-sm shrink-0 text-white ml-auto outline-none cursor-pointer transition-all;
}


/* Why Section */
#why {
    @apply relative text-white bg-[#469BAF] flex max-md:flex-col justify-center items-center gap-6 py-10 px-5 lg:py-20 text-center
}

#why>h3 {
    @apply text-lg sm:text-2xl lg:text-3xl font-bold
}


/* Online Section */

#online {
    @apply flex max-lg:flex-col justify-center items-center gap-16 mx-5 my-10 sm:m-20 text-[#2B2C2E]
}

#online h2 {
    @apply text-4xl sm:text-5xl font-medium
}

#online>div {
    @apply flex flex-col gap-6 lg:max-w-[572px]
}

#online ul {
    @apply flex flex-col gap-3 justify-between font-semibold max-sm:text-sm
}

#online li {
    @apply flex gap-2 px-1
}

#online li>svg {
    @apply text-[#FF9245] shrink-0
}


/* Appointments Section */

#appointment {
    @apply relative flex justify-center items-center text-center;
    background-image: url(@/assets/images/forHome/appointment.webp);
    background-position: center;
    background-size: cover;
}

#appointment iframe {
    @apply h-screen lg:h-[790px] sm:mx-10 my-20 max-w-[1300px];
}


/* Cover Section */

#cover {
    @apply relative max-w-[790px] text-center px-5 sm:px-10 mx-auto my-10 sm:my-20 text-[#2B2C2E];
}

#cover>h2:nth-child(1) {
    @apply relative text-center text-xl xs:text-2xl sm:text-4xl md:text-5xl lg:text-[56px] font-medium;
}

#cover>h2:nth-child(2) {
    @apply relative text-center text-xl xs:text-2xl sm:text-4xl md:text-5xl lg:text-[56px] w-fit mx-auto font-medium;
}

#cover>h2:nth-child(2) img {
    @apply w-14 sm:w-30 mr-auto max-sm:h-0.5 h-1;
}

#cover>div {
    @apply flex mt-10 sm:text-lg md:text-2xl
}

#cover ul {
    @apply grid sm:grid-cols-2 gap-2 sm:gap-5 font-semibold
}

#cover li {
    @apply flex text-left items-center gap-2 px-1
}

#cover li>svg {
    @apply text-[#479BAF] w-5 shrink-0
}


/* Courses Section */

#courses {
    @apply relative flex max-lg:flex-col justify-center items-center px-5 sm:px-10 py-20 gap-16 bg-[#F1F1F1] text-[#2B2C2E]
}

#courses h2 {
    @apply text-4xl sm:text-5xl
}

#courses>div {
    @apply flex flex-col gap-5 sm:gap-8 lg:max-w-[570px]
}


/* Questions Section */

#faq {
    @apply flex max-lg:flex-col justify-center items-start px-5 sm:px-10 py-10 sm:py-20 gap-16 text-[#2B2C2E]
}

#faq>section:nth-child(1)>h2 {
    @apply text-4xl sm:text-5xl
}

#faq>section:nth-child(1)>span {
    @apply flex items-center text-white justify-between bg-[#FF9245] hover:bg-[#ff9345cc] rounded-full w-full max-w-60 px-4 py-3 mt-8 transition-all cursor-pointer;
}

#faq button {
    @apply text-sm font-medium cursor-pointer;
}

#faq article {
    @apply mb-4 border-b-2 border-[#EAE9E8] w-full lg:max-w-[665px] cursor-pointer;
}

#faq article>div {
    @apply w-full flex justify-between gap-3 items-start cursor-pointer transition-colors duration-300 font-semibold;
}

#faq article>div>span:nth-child(1) {
    @apply text-base sm:text-lg md:text-justify transition-opacity duration-300
}

#faq article>div>span:nth-child(2) {
    @apply text-[#469BAF] text-2xl font-semibold
}

#faq article>div>span:nth-child(2):hover {
    @apply text-[#469cafc7]
}

#faq article>p {
    @apply py-3 text-base text-[#2B2C2E]/85 text-justify transition-all duration-500 ease-in-out overflow-hidden
}


/* Testimonial Section */

#testimonial {
    @apply relative px-5 sm:px-10 py-10 sm:py-20 gap-16 text-[#2B2C2E]
}

#testimonial>section {
    @apply relative w-full md:w-[85%] lg:max-w-[768px] mx-auto mt-10
}

#testimonial>section>p {
    @apply text-[#FF9245] mb-5
}

#testimonial h2 {
    @apply text-4xl md:text-5xl
}

#testimonial svg {
    @apply my-8
}

#testimonial div {
    @apply md:text-xl lg:text-2xl
}

#testimonial .prev-btn {
    @apply md:absolute -left-20 lg:-left-36 top-1/4 max-md:w-5 md:mt-10 transition-all cursor-pointer text-[#2B2C2E] hover:text-[#FF9245] outline-none rotate-180;
}

#testimonial .next-btn {
    @apply md:absolute -right-20 lg:-right-36 max-md:w-5 top-1/4 md:mt-10 transition-all cursor-pointer text-[#2B2C2E] hover:text-[#FF9245] outline-none;
}


/* Widget Form Section */

#widget {
    @apply flex justify-center items-center overflow-hidden;
}

#widget iframe {
    @apply w-screen h-full my-5 sm:my-10 lg:my-20 border-none rounded-xs;
}