@import "tailwindcss";

@theme {
    --breakpoint-xs: 375px;
}


/* Here Home Section */

#nous {
    @apply relative text-white w-full h-[350px] xs:h-[400px] md:h-[700px] overflow-hidden;
    background-image: url(@/assets//images/forNous/nousHero.png);
    background-size: cover;
    background-position: center;
}

#nous section {
    @apply absolute w-full bottom-5 md:bottom-14;
}

#nous section>h2 {
    @apply text-[17px] mb-22 md:mb-52 font-medium text-center;
}


/* Gym+ Section */

#gym {
    @apply relative flex max-lg:flex-col justify-center items-center gap-16 px-5 py-10 sm:p-20 bg-[#F1F1F1] text-[#2B2C2E]
}

#gym h2 {
    @apply text-4xl sm:text-5xl font-medium
}

#gym>div {
    @apply flex flex-col gap-6 lg:max-w-[572px]
}

#gym ul {
    @apply flex flex-col gap-3 justify-between font-semibold max-sm:text-sm
}

#gym li {
    @apply flex gap-2 px-1
}

#gym li>svg {
    @apply text-[#FF9245] shrink-0
}


/* Exist Section */

#exist {
    @apply relative bg-[#F1F1F1] text-[#2B2C2E] text-center px-5 py-12 z-10 md:py-24
}

#exist>h2>svg {
    @apply absolute max-w-20 lg:max-w-[154px] max-h-[123px] left-[40%] -top-10 -z-20 text-[#fff]
}

#exist>h2 {
    @apply relative text-3xl xs:text-4xl lg:text-[56px] w-fit z-40 mx-auto
}

#exist>p {
    @apply max-w-[680px] mx-auto mt-5
}

#exist>div {
    @apply flex flex-col md:flex-row justify-center items-center md:items-start my-12;
}

#exist>div>span {
    @apply relative flex flex-col justify-center items-center gap-14 max-w-64
}

#exist>div>span svg:last-of-type {
    @apply absolute bottom-16
}


#exist>div>div {
    /* Line Divider */
    @apply w-[1.218px] h-12 md:w-full md:h-[1.218px] bg-[#2b2c2eb9] md:mx-7 my-5 md:mt-16 max-w-32;
}


/* Become Section */

#become {
    @apply relative text-white bg-[#FF9245] flex max-md:flex-col justify-center items-center gap-6 py-10 px-5 lg:py-20 text-left
}

#become>h3 {
    @apply text-xl sm:text-3xl max-w-[800px] font-medium
}


/* Benefit Section */

#benefit {
    @apply relative max-w-[790px] text-center px-5 sm:px-10 mx-auto my-10 sm:my-20 text-[#2B2C2E];
}

#benefit>h2 {
    @apply relative text-center text-xl xs:text-2xl sm:text-4xl md:text-5xl lg:text-[56px] font-medium;
}

#benefit img {
    @apply w-14 sm:w-30 mr-auto max-sm:h-0.5;
}

#benefit>div {
    @apply flex mt-10 text-lg md:text-2xl
}

#benefit ul {
    @apply flex flex-col gap-5 sm:gap-8 text-left mb-16
}

#benefit li>article {
    @apply flex flex-col items-start gap-3
}

#benefit li>article>span {
    @apply flex items-center gap-3
}

#benefit li>article>span:first-of-type>svg {
    @apply text-[#479BAF] w-5 xs:w-7 shrink-0
}

#benefit>a {
    @apply flex justify-center w-full max-w-[640px] mx-auto text-center gap-6 font-medium px-5 py-3 bg-[#FF9245] hover:bg-[#469BAF] text-white rounded-full transition-all
}

/* Pricing Section */

#price {
    @apply flex justify-center items-center overflow-hidden;
}

#price iframe {
    @apply w-screen mx-5 sm:mx-10 lg:mx-20 mt-5 border-none rounded-xs;
}

@media (max-width: 360px) {
    #pricingIframe {
        height: 9500px !important;
    }
}

@media (min-width: 360px) and (max-width: 400px) {
    #pricingIframe {
        height: 9350px !important;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    #pricingIframe {
        height: 8900px !important;
    }
}

@media (min-width: 500px) and (max-width: 840px) {
    #pricingIframe {
        height: 8400px !important;
    }
}


/* Float Button */

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}
