@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

* {
    /* outline: 1px solid red; */
    /* 
    font-family: "Manrope", serif;
    font-family: "Castoro", serif;
    */

}

/* Hide scrollbar for all elements */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html {
    font-family: "Manrope", serif;
}

/* Sections Patterns Effects */

.topPattern {
    @apply absolute left-0 right-0 top-0 z-10 w-full
}

.bottomPattern {
    @apply absolute left-0 right-0 bottom-0 z-10 w-full
}

/* All Buttons Default Style */

#hero button,
#process button,
#why button,
#online button,
#courses button,
#faq button {
    @apply relative flex justify-between w-full max-w-[240px] items-center gap-6 font-medium rounded-full px-5 py-3 transition-all cursor-pointer;
}

#hero button>span,
#process button>span,
#why button>span,
#online button>span,
#courses button>span,
#faq button>span {
    @apply relative w-[17.5px] h-[17.5px] border-2 rounded-full;
}

#hero button svg,
#process button svg,
#why button svg,
#online button svg,
#courses button svg,
#faq button svg {
    @apply absolute -left-[11px] group-hover:left-1 top-[2px] shrink-0 transition-all duration-200;
}

/* Header Style */

header {
    @apply relative flex items-center justify-between mx-auto bg-transparent text-sm text-white z-50;
    width: 80%;
}

header>div {
    @apply flex items-center gap-8;
}

header>div>nav {
    @apply flex gap-6 font-bold text-nowrap;
}

header nav>a:hover:not(.active) {
    @apply text-[#ffc79e] transition-all;
}

header>div>nav .active {
    @apply text-[#FF9245];
}

header button {
    @apply relative flex justify-center items-center gap-6 font-medium bg-[#FF9245] hover:bg-[#469BAF] rounded-full px-5 py-3 transition-all cursor-pointer;
}

header button>span {
    @apply relative w-[17.5px] h-[17.5px] border-2 rounded-full;
}

header button svg {
    @apply absolute -left-[11px] group-hover:left-1 top-[2px] shrink-0 transition-all duration-200;
}

/* Footer Style */

footer {
    @apply flex justify-center items-center gap-3 text-white bg-[#469BAF] font-medium p-3;
}

footer a {
    @apply underline;
}

footer a:hover {
    @apply text-[#FF9245] transition-all;
}