@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-lg: 1100px;
    --breakpoint-3xl: 120rem;
}

* {
    /* outline: 1px solid red; */
    /* 
    font-family: "Manrope", serif;
    font-family: "Castoro", serif;
    */

}

/* Hide scrollbar for all elements */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html {
    font-family: "Manrope", serif;
}

/* Sections Patterns Effects */

.topPattern {
    @apply absolute left-0 right-0 top-0 z-10 w-full
}

.bottomPattern {
    @apply absolute left-0 right-0 bottom-0 z-10 w-full
}

/* All Buttons Default Style */

#hero button,
#process button,
#why button,
#online button,
#courses button,
#faq button {
    @apply relative flex justify-between w-full max-w-[240px] items-center gap-6 font-medium rounded-full px-5 py-3 transition-all cursor-pointer;
}

#hero button>span,
#process button>span,
#why button>span,
#online button>span,
#courses button>span,
#faq button>span {
    @apply relative w-[17.5px] h-[17.5px] border-2 rounded-full;
}

#hero button svg,
#process button svg,
#why button svg,
#online button svg,
#courses button svg,
#faq button svg {
    @apply absolute -left-[11px] group-hover:left-1 top-[2px] shrink-0 transition-all duration-200;
}

/* Header Style */

header {
    @apply relative flex items-center justify-between mx-auto bg-transparent text-sm text-white w-[90%] lg:w-[80%] z-50;
}

header>img {
    @apply hidden lg:block;
}

header>div {
    @apply flex items-center gap-8 mt-5 lg:mt-0;
}

header>div>nav:nth-child(1) {
    @apply hidden lg:flex gap-6 font-bold text-nowrap;
}

header nav:nth-child(1)>a:hover:not(.active) {
    @apply text-[#ffc79e] transition-all;
}

header>div>nav:nth-child(1) .active {
    @apply text-[#FF9245];
}

header button {
    @apply relative flex justify-center items-center gap-6 font-medium bg-[#FF9245] hover:bg-[#469BAF] rounded-full px-5 py-3 transition-all cursor-pointer;
}

header button>span {
    @apply relative w-[17.5px] h-[17.5px] border-2 rounded-full;
}

header button svg {
    @apply absolute -left-[11px] group-hover:left-1 top-[2px] shrink-0 transition-all duration-200;
}

/* Header for mobile screens */
.sidebar {
    @apply fixed top-0 left-[-100%] w-[300px] h-full bg-white flex flex-col items-center pt-8 transition-all duration-300 shadow-lg;
}

.sidebar img {
    @apply w-[60%];
}

.sidebar.open {
    @apply left-0;
}

.sidebar a {
    @apply block w-full text-center py-4 font-semibold text-[#333] text-lg transition-all;
}

.sidebar a:hover,
.sidebar a.active {
    @apply bg-[#FF9245] text-white;
}

.close-btn {
    @apply absolute top-5 right-5 hover:right-7 text-black hover:text-[#FF9245] cursor-pointer rotate-180 transition-all;
}

.burger-menu {
    @apply lg:hidden mr-auto cursor-pointer text-white hover:text-[#FF9245] transition-all;
}

/* Footer Style */

footer {
    @apply flex justify-center items-center gap-3 text-white bg-[#469BAF] font-medium p-3;
}

footer a {
    @apply underline;
}

footer a:hover {
    @apply text-[#FF9245] transition-all;
}