@import "tailwindcss";

* {
    /* outline: 1px solid red; */
    /* 
    font-family: "Manrope", serif;
    font-family: "Castoro", serif;
    */

}

html {
    font-family: "Plus Jakarta Sans", serif;
}

header {
    @apply relative flex items-center justify-between mx-auto bg-transparent text-white z-50;
    width: 80%;
    font: 700 14px "Manrope", serif;
}

header>div {
    @apply flex items-center gap-8;
}

header>div>nav {
    @apply flex gap-6;
}

header>div>nav .active {
    @apply text-[#FF9245];
}

header>div>span {
    @apply flex justify-center items-center gap-2 bg-[#FF9245] hover:bg-[#ff9345cc] rounded-full w-[210.55px] h-[43px] transition-all cursor-pointer;
}

header button {
    @apply font-medium cursor-pointer;
}

#hero {
    @apply relative z-0;
    width: 100%;
    height: 720px;
    background-image: url(../assets/images/forHome/hero.png);
    background-size: cover;
    background-position: center;
}